In [1]:
import pandas as pd
import numpy as np

In [2]:
KRK_STATION_ID = 250190470  # Krakow Wola Justowska station
BLC_STATION_ID = 350190566  # Balice station
LIB_STATION_ID = 249190030  # Libert√≥w station
PARAM_CODE = 'B00606S'  # hourly rain parameter code

In [3]:
dti = pd.date_range('2017-01-01', '2023-01-01', freq='1h')  # indexes as timestamp

data_for_cracow = pd.DataFrame(columns=[PARAM_CODE], index=dti)
data_for_cracow[PARAM_CODE] = None
data_for_cracow.tail()

                    B00606S
2022-12-31 20:00:00    None
2022-12-31 21:00:00    None
2022-12-31 22:00:00    None
2022-12-31 23:00:00    None
2023-01-01 00:00:00    None

# Data from proper station

In [4]:
# for year in range(2017, 2023):
#     for month in range(1, 13):
#         print(f'{year}/{month}')
#         path = f'../data/original_data/hourly_rain/{PARAM_CODE}_{year}_{month:02d}.csv'
#         rain_in_month_df = pd.read_csv(path, delimiter=';', header=None)
#         
#         rain_in_month_df = rain_in_month_df[[0, 1, 2, 3]]
#         
#         # take data from one station near Cracow
#         rain_monthly_per_blc = rain_in_month_df.where(rain_in_month_df[0] == BLC_STATION_ID)
#         rain_monthly_per_krk = rain_in_month_df.where(rain_in_month_df[0] == KRK_STATION_ID)
#         rain_monthly_per_lib = rain_in_month_df.where(rain_in_month_df[0] == LIB_STATION_ID)
#         
#         rain_monthly_per_blc.dropna(inplace=True)
#         rain_monthly_per_krk.dropna(inplace=True)
#         rain_monthly_per_lib.dropna(inplace=True)
#         
#         if len(rain_monthly_per_blc) == 0 and len(rain_monthly_per_krk) == 0:
#             dates = rain_monthly_per_lib[2]
#             dates = pd.to_datetime(dates)
#             values_lib = rain_monthly_per_lib[3]
#             
#             for i in dates.index:
#                 data_for_cracow.xs(dates[i])[PARAM_CODE] = values_lib[i]
#         
#         elif len(rain_monthly_per_blc) == 0:
#             dates = rain_monthly_per_krk[2]
#             dates = pd.to_datetime(dates)
#             values_krk = rain_monthly_per_krk[3]
#             
#             for i in dates.index:
#                 data_for_cracow.xs(dates[i])[PARAM_CODE] = values_krk[i]
#                 
#         else:
#             dates = rain_monthly_per_blc[2]
#             dates = pd.to_datetime(dates)
#             values_blc = rain_monthly_per_blc[3]
#             
#             for i in dates.index:
#                 data_for_cracow.xs(dates[i])[PARAM_CODE] = values_blc[i]

for year in range(2017, 2023):
    for month in range(1, 13):
        print(f'{year}/{month}')
        path = f'../data/original_data/hourly_rain/{PARAM_CODE}_{year}_{month:02d}.csv'
        rain_in_month_df = pd.read_csv(path, delimiter=';', header=None)
        
        rain_in_month_df = rain_in_month_df[[0, 1, 2, 3]]
        
        # take data from one station near Cracow
        rain_monthly_per_blc = rain_in_month_df.where(rain_in_month_df[0] == BLC_STATION_ID)
        
        rain_monthly_per_blc.dropna(inplace=True)
        
        dates = rain_monthly_per_blc[2]
        dates = pd.to_datetime(dates)
        values_blc = rain_monthly_per_blc[3]
        
        for i in dates.index:
            data_for_cracow.xs(dates[i])[PARAM_CODE] = values_blc[i]

2017/1
2017/2
2017/3
2017/4
2017/5
2017/6
2017/7
2017/8
2017/9
2017/10
2017/11
2017/12
2018/1
2018/2
2018/3
2018/4
2018/5
2018/6
2018/7
2018/8
2018/9
2018/10
2018/11
2018/12
2019/1
2019/2
2019/3
2019/4
2019/5
2019/6
2019/7
2019/8
2019/9
2019/10
2019/11
2019/12
2020/1
2020/2
2020/3
2020/4
2020/5
2020/6
2020/7
2020/8
2020/9
2020/10
2020/11
2020/12
2021/1
2021/2
2021/3
2021/4
2021/5
2021/6
2021/7
2021/8
2021/9
2021/10
2021/11
2021/12
2022/1
2022/2
2022/3
2022/4
2022/5
2022/6
2022/7
2022/8
2022/9
2022/10
2022/11
2022/12

In [5]:
data_for_cracow.isna().sum()

B00606S    27586
dtype: int64

In [ ]:
# data_for_cracow[data_for_cracow[PARAM_CODE].isna()]

In [6]:
for year in range(2017, 2023):
    for month in range(1, 13):
        print(f'{year}/{month}')
        path = f'../data/original_data/hourly_rain/{PARAM_CODE}_{year}_{month:02d}.csv'
        rain_in_month_df = pd.read_csv(path, delimiter=';', header=None)
        
        rain_in_month_df = rain_in_month_df[[0, 1, 2, 3]]
        
        rain_monthly_per_krk = rain_in_month_df.where(rain_in_month_df[0] == KRK_STATION_ID)
        
        rain_monthly_per_krk.dropna(inplace=True)

        if len(rain_monthly_per_krk) != 0:
            dates = rain_monthly_per_krk[2]
            dates = pd.to_datetime(dates)
            values_blc = rain_monthly_per_krk[3]
        
            for i in dates.index:
                if data_for_cracow.xs(dates[i])[PARAM_CODE] is None:
                    data_for_cracow.xs(dates[i])[PARAM_CODE] = values_blc[i]

2017/1
2017/2
2017/3
2017/4
2017/5
2017/6
2017/7
2017/8
2017/9
2017/10
2017/11
2017/12
2018/1
2018/2
2018/3
2018/4
2018/5
2018/6
2018/7
2018/8
2018/9
2018/10
2018/11
2018/12
2019/1
2019/2
2019/3
2019/4
2019/5
2019/6
2019/7
2019/8
2019/9
2019/10
2019/11
2019/12
2020/1
2020/2
2020/3
2020/4
2020/5
2020/6
2020/7
2020/8
2020/9
2020/10
2020/11
2020/12
2021/1
2021/2
2021/3
2021/4
2021/5
2021/6
2021/7
2021/8
2021/9
2021/10
2021/11
2021/12
2022/1
2022/2
2022/3
2022/4
2022/5
2022/6
2022/7
2022/8
2022/9
2022/10
2022/11
2022/12

In [7]:
data_for_cracow.isna().sum()

B00606S    95
dtype: int64

In [8]:
for year in range(2017, 2023):
    for month in range(1, 13):
        print(f'{year}/{month}')
        path = f'../data/original_data/hourly_rain/{PARAM_CODE}_{year}_{month:02d}.csv'
        rain_in_month_df = pd.read_csv(path, delimiter=';', header=None)
        
        rain_in_month_df = rain_in_month_df[[0, 1, 2, 3]]
        
        rain_monthly_per_lib = rain_in_month_df.where(rain_in_month_df[0] == LIB_STATION_ID)
        
        rain_monthly_per_lib.dropna(inplace=True)

        if len(rain_monthly_per_lib) != 0:
            dates = rain_monthly_per_lib[2]
            dates = pd.to_datetime(dates)
            values_lib = rain_monthly_per_lib[3]
        
            for i in dates.index:
                if data_for_cracow.xs(dates[i])[PARAM_CODE] is None:
                    data_for_cracow.xs(dates[i])[PARAM_CODE] = values_lib[i]

2017/1
2017/2
2017/3
2017/4
2017/5
2017/6
2017/7
2017/8
2017/9
2017/10
2017/11
2017/12
2018/1
2018/2
2018/3
2018/4
2018/5
2018/6
2018/7
2018/8
2018/9
2018/10
2018/11
2018/12
2019/1
2019/2
2019/3
2019/4
2019/5
2019/6
2019/7
2019/8
2019/9
2019/10
2019/11
2019/12
2020/1
2020/2
2020/3
2020/4
2020/5
2020/6
2020/7
2020/8
2020/9
2020/10
2020/11
2020/12
2021/1
2021/2
2021/3
2021/4
2021/5
2021/6
2021/7
2021/8
2021/9
2021/10
2021/11
2021/12
2022/1
2022/2
2022/3
2022/4
2022/5
2022/6
2022/7
2022/8
2022/9
2022/10
2022/11
2022/12

In [9]:
data_for_cracow.isna().sum()

B00606S    4
dtype: int64

In [10]:
data_for_cracow[data_for_cracow[PARAM_CODE].isna()]

                    B00606S
2018-04-06 22:00:00    None
2018-04-06 23:00:00    None
2019-07-17 14:00:00    None
2023-01-01 00:00:00    None

In [23]:
complete_rain_data = data_for_cracow.fillna(method='ffill')

In [24]:
complete_rain_data.isna().sum()

B00606S    0
dtype: int64

In [25]:
complete_rain_data = complete_rain_data[0:-1]
complete_rain_data.tail()

                    B00606S
2022-12-31 19:00:00       0
2022-12-31 20:00:00       0
2022-12-31 21:00:00       0
2022-12-31 22:00:00       0
2022-12-31 23:00:00       0

In [26]:
complete_rain_data.to_csv('../data/preprocessed_data/rain_krk_17-22_preprocessed.csv')