In [27]:
import pandas as pd
import numpy as np

In [28]:
description = pd.read_csv('dane_archiwalne_meteo/kody_parametr.csv', encoding='cp1250', delimiter=';')
geo_loc = pd.read_csv('dane_archiwalne_meteo/kody_stacji.csv', encoding='cp1250', delimiter=';')

In [29]:
description.drop([5, 6, 7], inplace=True)  # rain is taken in another source
description

        Kod                                              Nazwa
0   B00300S                  Temperatura powietrza (oficjalna)
1   B00305A                       Temperatura gruntu (czujnik)
2   B00202A                          Kierunek wiatru (czujnik)
3   B00702A           Średnia prędkość wiatru czujnik 10 minut
4   B00703A                      Prędkość maksymalna (czujnik)
8   B00802A            Wilgotność względna powietrza (czujnik)
9   B00714A  Największy poryw w okresie 10min ze stacji Syn...
10  B00910A                   Zapas wody w śniegu (obserwator)

In [30]:
geo_loc = geo_loc[['ID', 'Nazwa', 'Szerokość geograficzna', 'Długość geograficzna', 'Wysokość n.p.m.']]
geo_loc.head()

,ID,Nazwa,Szerokość geograficzna,Długość geograficzna,Wysokość n.p.m.
0,250180590,RYBNIK-STODOŁY,50 09 16,18 28 59,216
1,254140010,DZIWNÓW,54 01 20,14 43 54,7
2,250160530,ZIELENIEC,50 19 48,16 23 39,840
3,250160630,MIĘDZYGÓRZE,50 13 06,16 46 23,800
4,250160650,MIĘDZYLESIE,50 09 12,16 40 15,453

Empty DataFrame
Columns: [B00300S, B00305A, B00202A, B00702A, B00703A, B00802A, B00714A, B00910A]
Index: []

In [32]:
year = 2022
for month in range(1, 13):
    for param_code in parameters:
        path = f'dane_archiwalne_meteo/data/{param_code}/{param_code}_{year}_{month:02d}.csv'
        single_parameter_per_month_data = pd.read_csv(path, delimiter=';', header=None)
        
        
        single_parameter_per_month_data
        date = single_parameter_per_month_data[3][0]
        value = single_parameter_per_month_data[4].replace(',', '.')
        # 
        # data_for_cracow[param_code] = single_parameter_per_month_data

SyntaxError: unmatched ')' (2775454523.py, line 10)

In [36]:
dti = pd.date_range('2022-01-01', '2023-01-01', freq='10min')
dti

DatetimeIndex(['2022-01-01 00:00:00', '2022-01-01 00:10:00',
               '2022-01-01 00:20:00', '2022-01-01 00:30:00',
               '2022-01-01 00:40:00', '2022-01-01 00:50:00',
               '2022-01-01 01:00:00', '2022-01-01 01:10:00',
               '2022-01-01 01:20:00', '2022-01-01 01:30:00',
               ...
               '2022-12-31 22:30:00', '2022-12-31 22:40:00',
               '2022-12-31 22:50:00', '2022-12-31 23:00:00',
               '2022-12-31 23:10:00', '2022-12-31 23:20:00',
               '2022-12-31 23:30:00', '2022-12-31 23:40:00',
               '2022-12-31 23:50:00', '2023-01-01 00:00:00'],
              dtype='datetime64[ns]', length=52561, freq='10T')

In [44]:
parameters = description[['Kod']].to_numpy().reshape(-1)  # columns
dti = pd.date_range('2022-01-01', '2023-01-01', freq='10min')  # indexes as timestamp

data_for_cracow = pd.DataFrame(columns=parameters, index=dti)

# data_for_cracow.xs('2022-01-01 00:50:00')['B00300S'] = 1
data_for_cracow

,B00300S,B00305A,B00202A,B00702A,B00703A,B00802A,B00714A,B00910A
2022-01-01 00:00:00,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2022-01-01 00:10:00,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2022-01-01 00:20:00,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2022-01-01 00:30:00,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2022-01-01 00:40:00,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...
2022-12-31 23:20:00,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2022-12-31 23:30:00,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2022-12-31 23:40:00,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2022-12-31 23:50:00,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2023-01-01 00:00:00,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [ ]:
year = 2022
for month in range(1, 13):
    for param_code in parameters:
        path = f'dane_archiwalne_meteo/data/{param_code}/{param_code}_{year}_{month:02d}.csv'
        single_parameter_per_month_data = pd.read_csv(path, delimiter=';', header=None)
        
        single_parameter_per_cracow = 
        
        dates = single_parameter_per_month_data[2]
        dates = pd.to_datetime(dates)
        value = single_parameter_per_month_data[3].str.replace(',', '.')
        
        for i in dates.index:
            single_row =

In [54]:
i = int('4.3')

ValueError: invalid literal for int() with base 10: '4.3'